/* CSS Code for this PhoneGap App to Go Here */

 body,.ui-page
 {
 	background: #FFC5EA;
 	background-image: -ms-linear-gradient(top left, #C562A1 0%, #FFC5EA 100%);
	background-image: -moz-linear-gradient(top left, #C562A1 0%, #FFC5EA 100%);
	background-image: -o-linear-gradient(top left, #C562A1 0%, #FFC5EA 100%);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #C562A1), color-stop(1, #FFC5EA));
	background-image: -webkit-linear-gradient(top left, #C562A1 0%, #FFC5EA 100%);
	background-image: linear-gradient(to bottom right, #C562A1 0%, #FFC5EA 100%);
	color: #612B4D;
	text-shadow: none;
 }
 .ui-page {
   -webkit-animation-fill-mode: both;
 }
 .highlight {
 	color: #F012AC;
 	font-weight: bold;
 	text-shadow: none;
 }