/* CSS Code for this PhoneGap App to Go Here */

 body,.ui-page
 {
	text-shadow: none;
 }
 .ui-page {
   -webkit-animation-fill-mode: both;
 }
 .highlight {
 	color: #A80169;
 	font-weight: bold;
 	text-shadow: none;
 }
 .ui-header .ui-title, .ui-footer .ui-title {
	text-align: center;
	margin: .6em auto .8em;
	padding: 0;
	text-overflow: ellipsis;
	overflow: auto;
	white-space: nowrap;
}
.ui-footer {
	text-align: center;
}
#geolocation, #checkedLocation {
	text-align: center;
	width: 100%;
}
.centerme {
	text-align: center;
	margin: 0 auto;
}